@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('/fonts/AbrilFatface-Regular.ttf') format('truetype'); 
}


body {
    margin: 0;    
}


.stage {
    background-image: url('/img/7.jpg');
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: center; 
    font-family: 'AbrilFatface-Regular', Arial, Helvetica, sans-serif;
    height: 100vh; 
    overflow: hidden;
    position: relative;
    width: 100vw;     
}


p {
    text-align: center;       
}


h2 {
    text-align: center;
    color: red;
}







@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(90vw);
    }
}


.dementor {
    position: absolute;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    animation: moving infinite alternate;
    cursor: pointer;
}


.dementorHard {
    position: absolute;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    animation: moving infinite alternate-reverse;
    cursor: pointer;
}


.dementor.a {
    left: 2%;
    bottom: 35%;
    background-image: url('/img/dementor1.png');
    animation-duration: 2s;
}


.dementor.b {
    left: 3%;
    bottom: 3%;
    background-image: url('/img/dementor2.png');
    animation-duration: 3s;
}


.dementor.c {
    left: 7%;
    bottom: 10%;
    background-image: url('/img/dementor3.png');
    animation-duration: 2s;
}


.dementor.d {
    left: 5%;
    bottom: 20%;
    background-image: url('/img/dementor4.png');
    animation-duration: 2.5s;
}


.dementorHard.a {
    left: 2%;
    bottom: 35%;
    background-image: url('/img/dementor1.png');
    animation-duration: 2s;
}


.dementorHard.b {
    left: 3%;
    bottom: 3%;
    background-image: url('/img/dementor2.png');
    animation-duration: 3s;
}


.dementorHard.c {
    left: 7%;
    bottom: 10%;
    background-image: url('/img/dementor3.png');
    animation-duration: 2s;
}


.dementorHard.d {
    left: 5%;
    bottom: 20%;
    background-image: url('/img/dementor4.png');
    animation-duration: 2.5s;
}

.dementorHard.e {
    left: 4%;
    bottom: 25%;
    background-image: url('/img/dementor5.png');
    animation-duration: 4s;    
}


.dementorHard.f {
    left: 26%;
    bottom: 7%;
    background-image: url('/img/dementor6.png');
    animation-duration: 3.5s;
}


#replay {
    margin-left: 5px;
    cursor: pointer;
}


.btn {
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
}

.homeBtn {
    color: black;
}

.active {
    background: #666;
}


.inactive {
    background: silver;
}


reset {
    display: none;
}


#dialogueText p {
    font-family: 'Source Sans Pro', sans-serif;
}