@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('/fonts/AbrilFatface-Regular.ttf') format('truetype'); 
}

@font-face {       
    font-family: 'HarryPotterAndTheDingbats-LKKg';
    src: url('/fonts/HarryPotterAndTheDingbats-LKKg.ttf') format('truetype'); 
}

@font-face {       
    font-family: 'LUMOS.TTF';
    src: url('/fonts/LUMOS.TTF') format('truetype'); 
}

body {
    margin: 0;
}





/* navbar */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
 

@media screen and (max-width: 400px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 1.7rem;}
    .overlay .closebtn {
    font-size: 2.5rem;
    top: 1rem;
    right: 2rem;
    }
}





/*  masthead section */
.masthead {
    font-family: 'AbrilFatface-Regular';
}

.masthead .container-fluid {
    height: 75vh;
    background-image: linear-gradient(to right, rgba(96, 96, 99, 0.411), rgba(153, 149, 149, 0.329)),  url('/img/11.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: space-between;
}

.item:nth-child(1) {
    flex: 1;    
}

.item:nth-child(2) {
    flex: 1;
    align-self: center;    
}

.item:nth-child(3) {
    flex: 1;    
}

img {
    width: 150px;
    height: 150px;
}

.masthead .logo{
    margin-top: 1rem;
}

.masthead span, .masthead .h1 {
    color: white; 
}





/* searching characters section*/
.searchingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.searching {
    background-color: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;   
}

.searching .h2 {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    font-family: 'AbrilFatface-Regular';
}

.searching .suggestion {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 5rem;    
}

#textdeco {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.1rem;
    text-decoration: underline;
    color: rgba(56, 70, 15, 0.733);
}

#charSection {
    margin-top: 1rem;
    transition: 0.6s;
}

#charSection:hover {
    transform: scale(1.5);
}

.fontPic {
    font-family: 'HarryPotterAndTheDingbats-LKKg';
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'AbrilFatface-Regular';
}

.card-img img {
    width:  175px;
    height: 250px;
}

@media only screen and (max-width:400px){
    .searching p.suggestion {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;    
        font-size: 0.9rem;
    }

    .searching .h2 {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        font-family: 'AbrilFatface-Regular';
        font-size: 1.9rem;
    }
}




/* House quiz section*/
.house {
    height: 80vh;
    background-image: url(/img/bgimg.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: 'Source Sans Pro', sans-serif;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.house .quizbox {    
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(238, 237, 227, 0.589);
}

.house p {
    border: #333 solid 1px;
    text-align: center;
}


.house h2 {
    font-family: 'AbrilFatface-Regular';
}

#hint {
    color: green;
}

#replay {
    cursor: pointer;
    color:  #250d3b
}

@media only screen and (max-width:400px){
    .house .quizbox {        
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;        
    }    
}





/*Dementor game section*/
.game {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(96, 96, 99, 0.52), rgba(31, 30, 30, 0.253)), url(/img/dementorImg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;  
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    font-family: 'Source Sans Pro', sans-serif;  
}

.game .gamestory {
    text-align: left;
    width: 50%;
}

.game h1 {
    color: white;
    font-family: 'AbrilFatface-Regular';
}

.game p {
    color: white;
}

.game .button {
    background-color: rgba(187, 224, 55, 0.733);
    border: solid white 1px;
    color: #fafafa;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2rem;
}

.game .btnPosition {
    text-align: right;
    width: 50%;
}

.game .button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width:450px){
    .game h1 {
        color: white;
        font-size: 2rem;       
    }
    
    .game p {
        color: white;
        font-size: 0.9rem;        
    }
    
    .game .gamestory {
        text-align: left;    
        width: 50%;
    }

    .game .button {
        background-color: rgba(187, 224, 55, 0.733);
        border: solid white 1px;
        color: white;
        padding: 0.8rem 0.8rem; 
        display: inline-block;
        font-size: 0.99rem;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .game .btnPosition {
        text-align: left;
        width: 50%;
    }
}





/* footer section */
footer {
    background-color: #333;
    color: #fafafa;
}

footer i{
    font-size: 1.5em;
    color: #fafafa;;
}

@media only screen and (max-width:450px){
    footer i{
        font-size: 1.2em;
        color: #fafafa;;
    }

    footer .copyright {
        font-size: 0.8rem;
        text-align: right;
    }
}