@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('fonts/AbrilFatface-Regular.ttf') format('truetype'); 
}

@font-face {       
    font-family: 'HarryPotterAndTheDingbats-LKKg';
    src: url('fonts/HarryPotterAndTheDingbats-LKKg.ttf') format('truetype'); 
}

body {
    font-family: 'AbrilFatface-Regular';
    margin: 0;
}



/* navbar */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}









.container-fluid {
    height: 60vh;
    background-image: url('img/178051.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: space-between;
}

.item:nth-child(1) {
    flex: 1;    
}

.item:nth-child(2) {
    flex: 1;
    align-self: center;    
}

.item:nth-child(3) {
    flex: 1;    
}

img {
    width: 150px;
    height: 150px;
}

.logo{
    margin-top: 1rem;
}

span, .h1 {
    color: white; 
}